@media only screen and (min-width: 60em) {
    .navigation {
		display: flex;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	#menu {
		display: none;
        background-color:var(--dark-blue);
	}
    
    main{
        max-width: 1500px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto auto auto;
        margin:0 auto;
	}

    .hero button{
        margin:0;
    }

    .event{
        grid-column: 1/2;
        grid-row:1/2;
    }
    
    .hero{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .spotlight{
        padding:0px;
        border-left:none;
        border-right:none;
        margin:0;
    }

    .spotlight p{
        font-size: 12px;
        padding:0;
        margin:0;
    }
    
    .spotlight img, .weather img{
        max-height: 80px;
    }

    .homeCard h1{
        font-size: 23px;
    }

    .homeCard h2{
        font-size: 18px;
    }

    .homeCard{
        padding:0;
        margin:0;
    }

    .spotlight2{
        border-top: 1px solid var(--blue);
        border-bottom: 1px solid var(--blue);
    }

    .spotlights{
        grid-template-columns: 1fr;
        grid-column: 3/4;
        grid-row:1/-1;
        padding:0px;
    }

    .weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .spotlight3{
        display: block;
    }

    .join{
        grid-column:1/2;
        grid-row:3/4;
    }

    .hero button{
        margin:0;
        position: absolute;
        bottom:30px;
        right:30px;
    }

    .hero{
        position: relative;
    }

    .news{
        grid-column: 2/3;
        grid-row:3/4;
    }
    
    #lastUpdatedString{
        display: inline;
    }
    
    .bar{
        display: inline;
	}
    .homeCard{
        padding:20px;
    }
}