@media only screen and (min-width: 40em) {
	main{
		grid-template-columns: 1fr 1fr 1fr;
	}

	picture img:hover{
        filter: blur(0.1em);
    }

	.hero{
		background-image: url('../images/hero-medium.jpg');
		grid-column: 1/-1;
		grid-row:1/2;
	}

	.hero button{
		margin-top:200px;
	}

	.news{
		grid-column: 1/-1;
		grid-row:2/3;
	}

	.spotlights{
		grid-template-columns: 1fr 1fr;
		grid-column: 1/-1;
		grid-row: 3/4;
	}

	.spotlight{
		border-top:none;
	}

	.join{
		display: grid;
		grid-column: 1/-1;
		grid-row: 4/5;
	}

	.event{
		grid-column: 1/3;
		grid-row:5/6;
		padding:100px;
	}

	.weather{
		margin:0;
	}

	.weather{
		grid-column: 3/4;
		grid-row: 5/6;
	}

	footer img{
		width:100px;
		height:100px;
		padding-right:30px;
	}

	#footerTopLeft{
		text-align: left;
	}

	#mediumFooter{
		display:block;
	}

	#mediumFooterTop{
		display:flex;
	}

	.mediumFooterTopRight{
		padding-right:30px;		
	}

	#mobileFooter{
		display: none;
	}
	#lastUpdatedString{
		display:block;
	}

	.inline{
		display:inline;
	}

	.bar{
		display: none;
	}

	#phoneMenu{
		display: none;
	}
}